<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="apple-itunes-app" content="app-id=884468481, affiliate-data=myAffiliateData, app-argument=myURL">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('icons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('icons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('icons/favicon-16x16.png') }}">
    <meta name="keywords" content="gaffiot, gaffiot.org, fresh, benoit frisch">
    <meta name="description"
          content="Ce site web permet la recherche dans le dictionnaire Latin-Français de Félix GAFFIOT (1934) vraiment numérisé.">
    <meta name="author" content="fresh.lu">

    {% block graph %}
        <meta property="og:url" content="https://www.gaffiot.org/"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Gaffiot.org"/>
        <meta property="og:description"
              content="Ce site web permet la recherche dans le dictionnaire Latin-Français de Félix GAFFIOT (1934) vraiment numérisé."/>
    {% endblock %}

    {% block stylesheets %}
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap-popover.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap-list-filter.js') }}"></script>
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51358608-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-51358608-2');
        </script>
        <script type="text/javascript">
            function noenter() {
                return !(window.event && window.event.keyCode == 13);
            }
        </script>
    {% endblock %}
    <title>{% block title %}Gaffiot.LU{% endblock %}</title>
</head>
<body>
<div class="container-narrow">
    <div class="main">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <a href="{{ path('home') }}">
                    {% image '@AppBundle/Resources/public/images/gaffiot.png' %}
                    <img src="{{ asset_url }}" width="175" alt="gaffiot.org">
                    {% endimage %}
                </a>
            </div>
            <div class="col-md-6 col-xs-6">
                <p class="text-muted text-right">
                    <a href="https://itunes.apple.com/us/app/gaffiot/id884468481?ls=1&mt=8" target="_blank">
                        {% image '@AppBundle/Resources/public/images/appstore.png' %}
                        <img src="{{ asset_url }}" width="115" alt="gaffiot.org" style="margin-top: 15px">
                        {% endimage %}
                    </a>
                </p>
            </div>
        </div>

        {% block body %}

        {% endblock %}
        <hr>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row hidden-xs hidden-sm">
            <div class="col-md-4">
                <p class="text-muted text-left">
                    <a href="https://facebook.com/gaffiot" target="_blank">
                        {% image '@AppBundle/Resources/public/images/fb.png' %}
                        <img src="{{ asset_url }}" width="115" alt="gaffiot facebook" style="margin-top: 0px">
                        {% endimage %}
                    </a>

                </p>
            </div>
            <div class="col-md-4">
                <p class="text-muted text-center">
                    <a href="{{ path('license') }}" class="text-muted">
                        <span class="glyphicon glyphicon-file"></span> Source et licence</a>
                </p>
            </div>
            <div class="col-md-4">
                <p class="text-muted text-right">powered by <a href="https://fresh.lu" target="_blank"
                                                               class="text-muted">
                        {% image '@AppBundle/Resources/public/images/fresh.png' %}
                        <img src="{{ asset_url }}" height="25px"
                             style="padding-bottom: 7px; margin-left: -3px"
                             alt="fresh.lu">
                        {% endimage %}</a>
                </p>
            </div>
        </div>

        <p class="text-muted visible-xs-* visible-sm-* hidden-md hidden-lg"><a href="https://facebook.com/gaffiot"
                                                                               target="_blank">{% image '@AppBundle/Resources/public/images/fb.png' %}
                <img src="{{ asset_url }}" width="115" alt="gaffiot facebook" style="margin-top: 0px">
                {% endimage %}</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="{{ path('license') }}" class="text-muted">
                <span class="glyphicon glyphicon-file"></span> Source et licence</a>&nbsp;&nbsp;|&nbsp;&nbsp;by <a
                    href="https://fresh.lu" target="_blank"
                    class="text-muted">  {% image '@AppBundle/Resources/public/images/fresh.png' %}
                <img src="{{ asset_url }}" height="25px"
                     style="padding-bottom: 7px; margin-left: -3px"
                     alt="fresh.lu"></a>
            {% endimage %}</a></p>

    </div>
</footer>

</body>
</html>
