<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="apple-itunes-app" content="app-id=884468481, affiliate-data=myAffiliateData, app-argument=myURL">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('icons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('icons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('icons/favicon-16x16.png') }}">
    <meta name="keywords" content="gaffiot, gaffiot.org, fresh, benoit frisch">
    <meta name="description"
          content="Ce site web permet la recherche dans le dictionnaire Latin-Français de Félix GAFFIOT (1934) vraiment numérisé.">
    <meta name="author" content="fresh.lu">
    {% block stylesheets %}
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap-popover.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap-list-filter.js') }}"></script>
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '', 'auto');
            ga('send', 'pageview');

            $(document).ready(function () {
                $('[data-toggle="offcanvas"]').click(function () {
                    $('.row-offcanvas').toggleClass('active')
                });
            });
            $(function () {
                $('[data-toggle="popover"]').popover()
            })
        </script>
    {% endblock %}
    <title>{% block title %}Gaffiot.LU{% endblock %}</title>
</head>
<body>
<div class="container-narrow">
    <div class="main">
        <a href="{{ path('home') }}">
            {% image '@AppBundle/Resources/public/images/gaffiot.png' %}
            <img src="{{ asset_url }}" width="175" alt="gaffiot.org">
            {% endimage %}
        </a>

        {% block body %}

        {% endblock %}
        <hr>
        <div class="alert alert-info alert-dismissable overlay">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Source données:</strong>
            <p><a href="http://gerardgreco.free.fr/spip.php?article47" target="_blank">&copy; Gérard Gréco
                    2015-2016 version komarov-1.1 du 2 mai
                    2016</a></p>
            <strong>Licence:</strong>
            <p>Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International</p>
            <ul>
                <li>Source file available on this page: http://gerardgreco.free.fr/spip.php?article47</li>
                <li>Source data fetched: 23.10.2017</li>
                <li>Authors of the data: Gérard Gréco, Mark De Wilde, Bernard Maréchal et Katsuhiko Ôkubo.</li>
            </ul>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row hidden-xs hidden-sm">
            <div class="col-md-4">
                <p class="text-muted">&copy; 2017 Gaffiot.org
                </p>
            </div>
            <div class="col-md-4">
                <p class="text-muted text-center">
                    <a href="mailto:info@fresh.lu" target="_blank" class="text-muted">
                        <span class="glyphicon glyphicon-envelope"></span> Contact</a>
                </p>
            </div>
            <div class="col-md-4">
                <p class="text-muted text-right">powered by <a href="https://fresh.lu" target="_blank"
                                                               class="text-muted">
                        {% image '@AppBundle/Resources/public/images/fresh.png' %}
                        <img src="{{ asset_url }}" height="25px"
                             style="padding-bottom: 7px; margin-left: -3px"
                             alt="fresh.lu">
                        {% endimage %}</a>
                </p>
            </div>
        </div>

        <p class="text-muted visible-xs-* visible-sm-* hidden-md hidden-lg">&copy; 2017 &nbsp;&nbsp;|&nbsp;&nbsp;<a
                    href="mailto:info@fresh.lu" target="_blank" class="text-muted"><span
                        class="glyphicon glyphicon-envelope"></span> Contact</a>&nbsp;&nbsp;|&nbsp;&nbsp;powered
            by <a href="https://fresh.lu" target="_blank"
                  class="text-muted">  {% image '@AppBundle/Resources/public/images/fresh.png' %}
                <img src="{{ asset_url }}" height="25px"
                     style="padding-bottom: 7px; margin-left: -3px"
                     alt="fresh.lu"></a>
            {% endimage %}</a></p>

    </div>
</footer>

</body>
</html>
