{% extends 'AppBundle::base.html.twig' %}
{% block title %}
    {{ word.latin }} | Gaffiot en ligne | Gaffiot.org
{% endblock title %}
{% block description %}
    <meta name="description"
          content="{{ word.latin }} {{ word.french|striptags }}">
{% endblock description %}

{% block graph %}
    <meta property="og:url" content="https://www.gaffiot.org/{{ word.id }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ word.latin }} | Gaffiot en ligne | Gaffiot.org"/>
    <meta property="og:description"
          content="{{ word.french|striptags }}"/>
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CreativeWork",
  "url": "https://www.gaffiot.org/{{ word.id }}",
  "keywords": "gaffiot en ligne, gaffiot",
  "name": "{{ word.latinRaw }}",
  "headline": "{{ word.latin }}",
  "text": "{{ word.french|striptags }}"
}











    </script>
{% endblock %}
{% block body %}
    <br>
    <button type="button" class="btn btn-outline-dark btn-sm" onclick="goBack()"><span
                class="oi oi-chevron-left"></span> Retour
    </button>

    <br><br>
    <div class="row clearfix">
        <div class="col">
            {% if previous %}
                <a href="{{ path('detail', {'id': previous.id}) }}">
                    <button type="button" class="btn btn-outline-danger btn-sm float-left"><span
                                class="oi oi-chevron-left"></span> {{ previous.latin }}
                    </button>
                </a>
            {% endif %}
        </div>
        <div class="col">
            <center><a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#scan"
                       role="button"
                       aria-expanded="false"
                       aria-controls="scan">
                    {% if word.pages|length > 1 %}
                        <span class="oi oi-document"></span> Pages numérisées <span class="oi oi-chevron-bottom"></span>
                    {% else %}
                        <span class="oi oi-document"></span> Page numérisée <span class="oi oi-chevron-bottom"></span>
                    {% endif %}
                </a></center>
        </div>
        <div class="col">
            {% if next %}
                <a href="{{ path('detail', {'id': next.id}) }}">
                    <button type="button" class="btn btn-outline-danger btn-sm float-right"
                            onclick="goBack()">{{ next.latin }} <span
                                class="oi oi-chevron-right"></span>
                    </button>
                </a>
            {% endif %}
        </div>
    </div>
    <br>


    <div class="collapse" id="scan">
        <div class="card card-body">
            {% for page in word.pages %}
                <a href="{{ asset('data/'~page.file) }}" target="_blank"><img src="{{ asset('data/'~page.file) }}"
                                                                              width="100%"
                                                                              alt="{{ page.firstWord }}"><br><br>
                    <center>
                        <button type="button" class="btn btn-outline-secondary btn-sm">Ouvrir <span
                                    class="oi oi-share"></span>
                        </button>
                    </center>
                </a>
            {% else %}
                <p>Veuillez envoyer un message à info [at] gaffiot [dot] org afin de signaler une page manquante.</p>
            {% endfor %}
        </div>
    </div><br>
    <div class="detail">
        <b>{{ word.latin }}</b> {{ word.french|raw }}
    </div>
    <br>
{% endblock %}