{% extends 'AppBundle::base.html.twig' %}
{% block title %}
    {{ word.latin }} | Gaffiot.org
{% endblock title %}
{% block description %}
    <meta name="description"
          content="{{ word.latin }} {{ word.french|striptags }}">
{% endblock description %}

{% block graph %}
    <meta property="og:url" content="https://www.gaffiot.org/{{ word.id }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ word.latin }} | Gaffiot.org"/>
    <meta property="og:description"
          content="{{ word.french|striptags }}"/>
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CreativeWork",
  "url": "https://www.gaffiot.org/{{ word.id }}",
  "keywords": "gaffiot en ligne, gaffiot",
  "name": "{{ word.latinRaw }}",
  "headline": "{{ word.latin }}",
  "text": "{{ word.french|striptags }}"
}

    </script>
{% endblock %}
{% block body %}
    <br>
    <a href="{{ path('home') }}">
        <button class="btn btn-default btn-sm" role="group"><span class="glyphicon glyphicon-chevron-left"></span> Back
        </button>
    </a>
    <br><br>

    <img src="{{ asset('/words/'~ word.latinRaw~'1.jpg') }}" width="250">

    <div class="detail">
        <b>{{ word.latin }}</b> {{ word.french|raw }}
    </div>
{% endblock %}