{% extends 'AppBundle::base.html.twig' %}
{% block title %}
    {{ word.latin }} | Gaffiot en ligne | Gaffiot.org
{% endblock title %}
{% block description %}
    <meta name="description"
          content="{{ word.latin }} {{ word.french|striptags }}">
{% endblock description %}

{% block graph %}
    <meta property="og:url" content="https://www.gaffiot.org/{{ word.id }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ word.latin }} | Gaffiot en ligne | Gaffiot.org"/>
    <meta property="og:description"
          content="{{ word.french|striptags }}"/>
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CreativeWork",
  "url": "https://www.gaffiot.org/{{ word.id }}",
  "keywords": "gaffiot en ligne, gaffiot",
  "name": "{{ word.latinRaw }}",
  "headline": "{{ word.latin }}",
  "text": "{{ word.french|striptags }}"
}
    </script>
{% endblock %}
{% block body %}
    <br>
    <a href="{{ path('home') }}">
        <button type="button" class="btn btn-outline-dark btn-sm"><span class="oi oi-chevron-left"></span> Retour
        </button>
    </a>

    <br><br>
    <p>
        <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#scan" role="button"
           aria-expanded="false"
           aria-controls="scan">
            <span class="oi oi-document"></span> Page numérisée <span class="oi oi-chevron-bottom"></span>
        </a>
    </p>
    <div class="collapse" id="scan">
        <div class="card card-body">
            {% for page in word.pages %}
                <img src="{{ asset('data/'~page.file) }}" width="100%" alt="{{ word.latin }}">
            {% endfor %}
        </div>
    </div>
    <div class="detail">
        <b>{{ word.latin }}</b> {{ word.french|raw }}
    </div>
{% endblock %}